.buttons {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 1rem;
  justify-content: center;
}