@font-face {
    font-family: General Sans;
    src: url(../fonts/GeneralSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: General Sans;
    src: url(../fonts/GeneralSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: General Sans;
    src: url(../fonts/GeneralSans-Semibold.ttf);
    font-weight: 600;
}

:root {
    --bs-gray-dark: #111827;
    --bs-gray: #374151;
}

body {
    font-family: General Sans;
    color: var(--bs-gray);
    font-size: 16px;
    background: url(../images/ellipse.svg) no-repeat 64px 412px / 100%;
}

img {
    max-width: 100%;
}

.header-wrapper {
    height: 80px;
}

.container-lg {
    padding-left: 20px;
    padding-right: 20px;
}

.btn {
    --bs-btn-font-size: 14px;
    --bs-btn-font-weight: 600;
    --bs-btn-padding-x: 16px;
    --bs-btn-padding-y: 9px;
    --bs-btn-line-height: 20px;
}

.btn-primary {
    --bs-btn-bg: #0876DD;
    --bs-btn-border-color: #0876DD;
    --bs-btn-hover-bg: #041a2f;
    --bs-btn-hover-border-color: #041a2f;
}

.btn-lg {
    --bs-btn-padding-y: 12px;
    --bs-btn-font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--bs-gray-dark);
    font-weight: 600;
}

.intro-section {
    padding-top: 48px;
}

.intro-section h1 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 16px;
}

.intro-section .button-wrapper {
    margin-top: 40px;
}

.image-wrapper {
    padding-top: 88px;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
        background-size: auto;
        background-position: 130px 395px;
    }

    .container-lg {
        padding-left: 40px;
        padding-right: 40px;
    }

    .intro-section {
        padding-top: 80px;
    }

    .intro-section h1 {
        font-size: 64px;
        line-height: 80px;
    }

    .image-wrapper {
        padding-top: 64px;
    }
}

@media screen and (min-width: 992px) {
    .container-lg {
        padding-left: 32px;
        padding-right: 32px;
    }

    .intro-section {
        padding-top: 32px;
    }

    body {
        background-position: 110% -100px;
    }

    .image-wrapper {
        padding-top: 0;
    }
}

@media screen and (min-width: 1400px) {
    .container-lg {
        max-width: 1280px;
    }    
}
