* {
    box-sizing: border-box;
}

html {
    --nav-link-color: #101928;
    --button-bg-color: #545BE8;
    --button-border-color: #545BE8;
    --empty-button-color: #545BE8;
    --primary-color: #545BE8;
    --secondary-color: #141E32;
    --text-color: #969696;
    --icons-color: #F0C932;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.button {
    display: block;
    width: 170px;
    font-weight: bold;
    font-size: 18px;
    font-family: Inter;
    color: white;
    background-color: var(--button-bg-color);
    text-decoration: none;
    text-align: center;
    height: 48px;
    line-height: 48px;
    border-radius: 10px;
}

.empty-button {
    background: none;
    border: 1px solid var(--button-border-color);
    color: var(--empty-button-color);
}

.play-button {
    background: none;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.play-button i {
    background-color: var(--icons-color);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button i::before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 7px 0 7px 11px;
    border-color: transparent transparent transparent #FFFFFF;
    margin-left: 3px;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.13); 
}

header .container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

header .right {
    display: flex;
    gap: 30px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

header nav a.active {
    font-weight: bold;
}

header .user-links {
    display: flex;
    gap: 25px;
}

main {
    padding-top: 80px;
}

section.home {
    background-color: #F5F5F5;
    padding: 80px 0;
}

section.home .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.home .text {
    width: 50%;
}

section.home h4 {
    color: var(--primary-color);
    margin: 0;
    font-weight: normal;
    font-size: 18px;
}

section.home h1 {
    color: var(--secondary-color);
    margin: 0;
    font-size: 64px;
    line-height: 96px;
    margin: 19px 0;
}

section.home h1 span {
    color: var(--primary-color);
}

section.home p {
    color: var(--text-color);
    font-size: 18px;
}

section.home .buttons {
    display: flex;
    gap: 25px;
    padding-top: 20px;
}